@import '~antd/dist/antd.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.app {
  height: 100vh;
}

.app_content {
  margin-top: 60px;
  background-color: snow;
}